@font-face {
  font-family: 'bubblegums';
  src: url('bubblegums/BUBBLEGUMS.TTF');
}
*{
	font-family: bubblegums;
	color: #fff;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #e8e8e8;
	/*background-color: #62e38e;*/
	overflow: hidden;
}
.bubble{
	position: absolute;
	border-radius:100%;
	z-index: 10;
	font-size: 20px;
	text-align: center;
}
.bubble > p{
	color: #000;
	text-shadow: 1px 1px 5px #fff;
	margin-top: 18%;
}
.game{
	position: relative;
	padding: 20% 5%;
	height: 100%;
	width: 50%;
	float: right;
	margin-right: 5%;
	margin-top: 6%;
}
.game, nav, body{
	background-color: #171414;
	background-color: #eee;
}
.game, nav, .win, .stop-btn:hover, .new-game-btn:hover{
	border: 1px solid #00dc37;
	box-shadow: 2px 2px 10px #00dc37;
}
.game-container{
	height: 100%;
}
nav{
	opacity:1;
	text-align: center;
	position: absolute;
	height: 100%;
	float: left;
	z-index: 5;
	width: 20%;
}
.score, .target, .time-left{
	color: #00dc37;
	display: block;
	padding: 0.5em;
	width: 10%;
	text-align: center;
	font-size: 50px;
	margin: auto;
}
.score-bubble{
	margin:auto;
	height: 0.5em;
	width: 0.5em;
	border-radius: 100%;
	background-color: #000;
}
.stop-btn{
	background-color: #3DE840;
}
.new-game-btn{
	background-color: #113747;
}
.stop-btn, .new-game-btn{
	color: #fff;
	width: 72%;
	border-style: none;
	margin-bottom: 1em;
	padding: 0.5em;
	font-size: 30px;
	box-shadow: 2px 2px 10px #000;
}
.stop-screen, .lose-screen{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0.5;
	text-align: center;
}
.stop-screen{
	background-color:#3de840;
	z-index:40;
}
.title{
	position: absolute;
	z-index: 40;
	margin: auto;
	font-size: 54px;
	left: 40%;
	color: #171414;
}
.lose-screen{
	background-color:#da0404;
	z-index:50;
	font-size: 60px;
}
.win{
	border-style: none;
	text-align: center;
	background-color: #eee;
	position: absolute;
	color: #000;
	z-index: 15;
	padding: 1em;
	font-size: 24px;
	top: 30%;
	left: 45%;
	transition: transform 0.4s;
}
.win:hover{
	transform: scale(1.1, 1.1);
}